
<button (click)="nextPage()">Next Page</button>


<div *ngIf="!apiService.data()">  
  <p>Loading data...</p>
</div>


<div *ngIf="apiService.data()">  
  <h2>Data from API</h2>  
  <!-- <pre>{{ apiService.data() | json }}</pre> -->
  <div class="cardContainer" >
    <div class="plantCard" *ngFor="let plant of apiService.data().data; index as i;">
      <img class="cardImg" ngSrc={{plant.image_url}} alt="plant picture" width="200" height="200" priority>
      <div>{{plant.common_name}}</div>
    </div>
  </div>
</div>

